<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app.html}">
<head>
    <title>Home</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="sub-heading-container">
            <h3 class="image-heading">Your Images</h3>
            <button class="button">
                Refresh
            </button>
        </div>
        <div class="image-container">
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
            <div class="image-item">
                <img th:src="@{/images/test.png}" alt="Image">
            </div>
        </div>
        <div class="pagination">
            <span>Prev</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>Next</span>
        </div>
        <div class="pagination">
            <span th:if="${currentPage > 0}">
                <a th:href="@{/?page=${currentPage - 1}&size=${pageSize}}">Previous</a>
            </span>
            
            <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:href="@{/?page=${i}&size=${pageSize}}" th:text="${i + 1}"></a>
            </span>
            
            <span th:if="${currentPage < totalPages - 1}">
                <a th:href="@{/?page=${currentPage + 1}&size=${pageSize}}">Next</a>
            </span>
        </div>
    </section>
</body>
</html>
